/* Colores en CSS */
.nombre{
    color:aqua;
}
.rgb{
    color: rgb(204, 0, 255);
}
.hexa{
    color: #8d1e1e;
}
.rgba{
    color: rgba(241, 74, 74, 0.87);
}


/* em y stronger en css */
.strong strong, .strong em{
    color: #3bbd24;
}


/* Border estilo linea*/
.style_dashed{
    border-style: dashed;
}
.style_solid {
    border-style: solid;
}
.style_dotted {
    border-style: dotted ;
}
.style_double {
    border-style: double ;
}
.style_groove{
    border-style: groove;
}
.style_ridge{
    border-style: ridge;
}
.style_inset{
    border-style: inset;
}
.style_outset {
    border-style: outset;
}


/* border color*/
.border_color{
    border-color: #a5229a;
}
/* border radius*/
.border_radius{
    border-radius: 15px;
}
/* border width */
.border_width {
    border-width: 10px;
}
.border_width_dos{
    border-width: 2px;
}
/* Style para border radius y border color */
.border_color, .border_radius, .border_width, .border_width_dos{
    border-style: solid;
}


/* Border una sola línea excepto radius*/
.border{
    border: 3px solid #2266a5;
}


/* Unidades de medida */
/* unidades fijas */
.centimetros{
    font-size: 0.5cm;
}
.milimetros{
    font-size: 4mm;
}
.pulgadas{
    font-size: 0.2in;
}
.pixeles{
    font-size: 20px;
}
.puntos{
    font-size: 15pt;
}
.picas{
    font-size: 1.5pc;
}

/* unidades relativas */
.em{
    font-size: 2em;
}
.rem{
    font-size: 2rem;
}


/* Fondo en css */

                /*background-Color */
#bg_color{
    background-color: rgba(57, 132, 218, 0.596);
    opacity: 0.4;
}

                /* background-Imagen */
#bg_imagen {
    color: aliceblue;
    background-image: url('20230827131929.png');
}

                /*background_size */
/* Arreglando imagen de fondo para todas las pruebas realizadas background size*/
#bg_auto, #bg_cover, #bg_contain, #bg_pixeles{
    color: rgb(255, 255, 255);
    background-image: url('20230827131929.png');
    height: 200px;
}
#bg_auto strong, #bg_cover strong, #bg_contain strong, #bg_pixeles strong{
    color: rgb(128, 133, 226);
}
/* Auto */
#bg_auto{
    background-size: auto;
}
/* Cover */
#bg_cover{
    background-size: cover;
}
/* contain*/
#bg_contain{
    background-size: contain;
}
/* Pixeles, también usado para background repeat */
#bg_pixeles{
    background-size: 150px 150px;
}

                /* background-repeat:*/
/* Arreglando imagen de fondo para todas las pruebas realizadas background-repeat */
#bg_no_repeat, #bg_repeat-x, #bg_repeat-y{
    color: rgb(250, 235, 235);
    background-image: url('20230827131929.png');
    height: 300px;
    background-color: #2266a5;
    background-size: 150px 150px;
}
#bg_no_repeat strong, #bg_repeat-x strong, #bg_repeat-y strong{
    color: rgb(131, 226, 128);
}
/* no repeat */
#bg_no_repeat{
    background-repeat: no-repeat;
}
/* repeat x*/
#bg_repeat-x{
    background-repeat: repeat-x;
}
/* repeat y */
#bg_repeat-y{
    background-repeat: repeat-y;
}

                /* background-Position*/
/* Arreglando imagen de fondo para todas las pruebas realizadas background-position */
#left, #right, #center{
    color: rgb(252, 211, 211);
    background-image: url('20230827131929.png');
    height: 200px;
    background-color: #1b720a;
    background-size: 170px 170px;
    background-repeat: no-repeat;
}
#left strong, #right strong, #center strong{
    color: rgb(226, 143, 128);
}
/*  Imagen a la izquierda y abajo  */
#left{
    background-position: left bottom;
}
/* Imagen a la derecha y arriba */
#right{
    background-position: right top;
}
/* Imagen en el centro */
#center{
    background-position: center center;
}


                /* Background una sola linea */
/* Arreglando texto para bag background*/
#bg_una_sola_linea{
    color: rgb(0, 0, 0);
}
#bg_una_sola_linea strong{
    color: rgb(0, 62, 196);
}
/*  Background */
#bg_una_sola_linea{
    height: 250px;
    background: #bd7624 url(20230827131929.png) no-repeat center center / 300px 200px;
}
