/* Colores en CSS */
.nombre{
    color:aqua;
}
.rgb{
    color: rgb(204, 0, 255);
}
.hexa{
    color: #8d1e1e;
}
.rgba{
    color: rgba(241, 74, 74, 0.87);
}


/* em y stronger en css */
.strong strong, .strong em{
    color: #3bbd24;
}


/* Border estilo linea*/
.style_dashed{
    border-style: dashed;
}
.style_solid {
    border-style: solid;
}
.style_dotted {
    border-style: dotted ;
}
.style_double {
    border-style: double ;
}
.style_groove{
    border-style: groove;
}
.style_ridge{
    border-style: ridge;
}
.style_inset{
    border-style: inset;
}
.style_outset {
    border-style: outset;
}


