/* Colores en CSS */
.nombre{
    color:aqua;
}
.rgb{
    color: rgb(204, 0, 255);
}
.hexa{
    color: #8d1e1e;
}
.rgba{
    color: rgba(241, 74, 74, 0.87);
}


/* em y stronger en css */
.strong strong, .strong em{
    color: #3bbd24;
}


/* Border estilo linea*/
.style_dashed{
    border-style: dashed;
}
.style_solid {
    border-style: solid;
}
.style_dotted {
    border-style: dotted ;
}
.style_double {
    border-style: double ;
}
.style_groove{
    border-style: groove;
}
.style_ridge{
    border-style: ridge;
}
.style_inset{
    border-style: inset;
}
.style_outset {
    border-style: outset;
}


/* border color*/
.border_color{
    border-color: #a5229a;
}
/* border radius*/
.border_radius{
    border-radius: 15px;
}
/* border width */
.border_width {
    border-width: 10px;
}
.border_width_dos{
    border-width: 2px;
}
/* Style para border radius y border color */
.border_color, .border_radius, .border_width, .border_width_dos{
    border-style: solid;
}


/* Border una sola línea excepto radius*/
.border{
    border: 3px solid #2266a5;
}


/* Unidades de medida */
/* unidades fijas */
.centimetros{
    font-size: 0.5cm;
}
.milimetros{
    font-size: 4mm;
}
.pulgadas{
    font-size: 0.2in;
}
.pixeles{
    font-size: 20px;
}
.puntos{
    font-size: 15pt;
}
.picas{
    font-size: 1.5pc;
}

/* unidades relativas */
.em{
    font-size: 2em;
}
.rem{
    font-size: 2rem;
}
